<section class="landing">
    <canvas id="landing-canvas"></canvas>
    <div class="canvas-overlay grid grid-pad">
        <div class="cont-wrapp col-1-1">
            <h1>My name is Joakim Wimmerstedt and I do <a href="http://blog.generalassemb.ly/what-is-front-end-web-development/" alt="Click here for a definition!" target="_blank">front-end development</a>.</h1>
            <span class="subheader">team player, beer brewer, tech freak, ux fanatic. Scroll  <a href="#about-me">down</a> and read more.</span>
        </div>
    </div>
</section>