<div class="main-cont fifty lefty profile">

    <a href="/"><img class="logo" src="/assets/images/j.svg" alt="Logotype - A Giant J"></img></a>

    <div class="about">

        <span class="name">Joakim Wimmerstedt</span>
        <span class="role">Front-End Developer</span>
        <p class="description">Swedish web developer with a focus on performance and usability. <a href="https://www.hyperisland.com/">Hyper Island</a> alumni.</p>

        <ul class="contact">
            <li><a href="mailto:joakim.wimmerstedt@hyperisland.se">joakim.wimmerstedt@hyperisland.se</a></li>
            <li><a href="tel:+46723153420">+46 (0) 72 315 34 20</a></li>
        </ul>

        <ul class="external-links">
            <li>
                <a href="https://se.linkedin.com/pub/joakim-wimmerstedt/33/525/856">
                    <img src="/assets/images/social/social-linkedin.svg" alt="LinkedIn">
                    <span class="hidden">Linkedin</span>
                </a>
            </li>
            <li>
                <a href="http://www.github.com/cupofjoakim">
                    <img src="/assets/images/social/social-github-circular.svg" alt="Github">
                    <span class="hidden">Github</span>
                </a>
            </li>
            <li>
                <a href="http://www.twitter.com/cupofjoakim">
                    <img src="/assets/images/social/social-twitter.svg" alt="Twitter">
                    <span class="hidden">Twitter</span>
                </a>
            </li>
        </ul>

    </div>

</div>
