<div class="main-cont fifty lefty profile">

    <img class="logo" src="/assets/images/j.svg" alt="Logotype - A Giant J"></img>

    <div class="about">

        <span class="name">Joakim Wimmerstedt</span>
        <span class="role">Front-End Developer</span>
        <p class="description">Swedish interface developer with a focus on performance and usability. I also brew beer and help out at Skjutsgruppen.</p>

        <p class="position">Currently at The World Loves.</p>  

        <ul class="external-links">
            <li>
                <a href="https://se.linkedin.com/pub/joakim-wimmerstedt/33/525/856">
                    <img src="/assets/images/social/social-linkedin.svg" alt="LinkedIn">
                    <span class="hidden">Linkedin</span>
                </a>
            </li>
            <li>
                <a href="http://www.github.com/cupofjoakim">
                    <img src="/assets/images/social/social-github-circular.svg" alt="Github">
                    <span class="hidden">Github</span>
                </a>
            </li>
            <li>
                <a href="http://www.twitter.com/cupofjoakim">
                    <img src="/assets/images/social/social-twitter.svg" alt="Twitter">
                    <span class="hidden">Twitter</span>
                </a>
            </li>
        </ul>

    </div>

</div>