.fifty {
    width: 50%;
    float: left;

    @media (min-width: 1120px) {
        &.lefty {
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
        }

        &.righty {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            overflow-y: scroll;
        }
    }
}

.main-cont {
    width: 100%;

    @media (min-width: 1120px) {
        width: 50%;
    }
}

body {
    @media (max-width: 1120px) {
        margin: 0;
    }
}

video {
  width: 100%;
}

.posts .post.case video {
  position: absolute;
  top: 0;
}
