.filter {
    list-style: none;
    font-family: 'Droid Sans', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    float: right;
    margin-right: 40px;
    margin-top: 40px;

    li {
        display: inline-block;
        margin-left: 20px;
        color: $darkBlue;

        &:hover {
            color: $orange;
            cursor: pointer;
        }

        &.visibly-hidden {
            opacity: 0;
            pointer-events: none;
        }
    }
}

.posts {
    width: 100%;
    margin-top: 100px;

    @media (max-width: 1120px) {
        margin-top: 90px;
    }

    .post {
        width: 100%;
        margin-bottom: 90px;
        margin-top: 90px;
        font-size: 16px;

        @media (max-width: 1120px) {
            margin-bottom: 50px;
            margin-top: 50px;
        }

        .post-wrap {
            width: 520px;
            margin: 0 auto;

            @media (max-width: 1120px) {
                width: 50%;
                min-width: 280px;
            }
        }

        .post-date {
            font-family: 'Droid Sans', sans-serif;
            color: $darkBlue;
        }

        .post-cat {
            font-family: 'Droid Sans', sans-serif;
            color: $orange;
            text-transform: capitalize;
        }

        h1.post-title {
            margin-top: 5px;
            margin-bottom: 8px;
            font-size: 28px;

            &:hover a {
                color: $orange;
            }
        }

        p {
            line-height: 24px;
            margin: 0 0 30px 0;
        }

        .arrow {
            display: block;
            line-height: 12px;
            font-size: 24px;
            color: $darkBlue;

            &:hover {
                color: $orange;
            }
        }

        &.case {
            margin-bottom: 0px;
            margin-top: 0px;
            background-size: cover;
            display: block;
            padding-top: 52px;
            padding-bottom: 52px;
            color: #fff;
            position: relative;
            overflow: hidden;

            .post-date, .post-title {
                color: #fff;
            }

            p {
                margin: 0;
            }

            .overlay {
                position:absolute;
                top: 0;
                height: 500px;
                width: 100%;
                background-color: rgba(74,144,226,0.6);

                transition: .3s ease background-color;
            }

            .post-wrap {
                position:relative;
                z-index: 30;
            }

            &:hover .overlay {
                background-color: rgba(74,144,226,0.9);
            }

        }
    }
}