.profile {
    background: #4A90E2;
    font-family: 'Droid Sans', sans-serif;

    img.logo {
        width: 17%;
        margin: 150px auto 0;
        display: block;
        min-width: 120px;
        animation: float 3s infinite ease-in-out alternate;

        @media (max-width: 1120px) {
            width: 10%;
            margin: 75px auto 50px;
        }

    }

    .shadow {
        width: 17%;
        min-width: 130px;
        height: 3%;
        min-height: 30px;
        background: $mediumGray;
        margin-top: 40px;
        shape-outside: circle();
    }

    .about {
        width: 360px;
        position: absolute;
        bottom: 60px;
        left: 50%;
        margin-left: -180px;
        text-align: center;
        color: #fff;
        line-height: 22px;

        > * {
            display: block;
        }

        .name {
            font-size: 28px;
            font-weight: bold;
        }

        .role {
            margin-top: 10px;
            font-size: 20px;
        }

        .position {
            margin-bottom: 40px;
        }

        a {
            color: #fff;
            position: relative;
            display: inline-block;

            &:visited {
                color: #fff;
            }

            &:hover {
                color: #333;
            }

            &:after {
                content: '';
                display: block;
                position: absolute;
                top: calc(100% - 1px);
                left: 0;
                width: 100%;
                height: 1px;
                background: #fff;
                opacity: .6;
            }
        }


        .contact {
            margin: 0;
            padding: 0;
            list-style: none;

            li a {
                padding-bottom: 5px;
            }

            a:after {
                display: none;
            }
        }


        .external-links {
            list-style: none;
            padding: 0;

            li {
                display: inline-block;
                width: 30px;
                height: 30px;
                margin: 0 10px 0 0;

                a:after {
                    display: none;
                }

                img, svg {
                    width: 100%;
                    transition: transform .1s ease;
                }

                &:last-child {
                    margin: 0;
                }

                &:hover {
                    //box-shadow: 0 3px 2px rgba(0,0,0,.4);

                    img, svg {
                        transform: scale(1.5);
                    }
                }
            }
        }

        @media (max-width: 1120px) {
            position: relative;
            bottom: 0px;
            left: 0;

            width: 360px;
            margin: 0 auto 40px;
            text-align: center;
            color: #fff;
        }

        @media (max-width: 400px) {

            width: 100%;
            padding: 0 20px;
        }
    }


}

@keyframes float {
    from { transform: translateY(-10px); }
    to { transform: translateY(10px); }
}
