html, p {
    font-family: 'Vollkorn', serif;    
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Droid Sans', sans-serif;
    color: $darkBlue;

    a {
        color: $darkBlue;
    }
}

pre {
    font-family: 'Droid Sans Mono', ;
}

html {
    color: $mediumGray;
}

a {
    text-decoration: none;
}

* {
    -webkit-font-smoothing: antialiased;
}