.footer-container {
    background: #3caeca;
    display: block;
    cursor: pointer;
    height: 100px;

    // .grid-pad {
    //     padding: 0px;
    // }
    
    .super-link {
        font-size: 30px;
        line-height: 100px;
        @include single-transition(transform, 0.3s, ease);
    }

    &:hover {
        .super-link {
            @include transform(translateX(20px));
        }
    }
}