.nav-overlay {
    position: absolute;
    left: -9999px;
    background: rgba(11,11,11,0.95);
    z-index: 9999;
    @include opacity(0);
    @include single-transition(opacity, 0.3s, ease);

    &.shown {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        @include opacity(1);
    }
    
    .nav-header {
        margin-top: 10%;
        font-size: 32px;

        .close-nav {
            float:right;
            margin-bottom: 24px;
            cursor: pointer;
            padding: 10px 20px;
            margin-right: -20px;
            @include single-transition(background, 0.3s, ease);            

            &:hover {
                background: rgba(60,174,202,1);
            }
        }
    }
    

    a.nav-item {
        height: 150px;
        padding: 38px 30px;
        @include single-transition(all, 0.3s, ease);

        
        .title {
            display: block;
            font-size: 32px;
            font-style: italic;

        }

        .subtitle {
            display: block;
            color: #A2A2A2;
        }

        &:hover {
            background: rgba(60,174,202,1);

            .subtitle {
                color: #fff;
            }
        }

    }

    .social-icons {
        padding: 38px 20px;

        a {
            display: inline-block;
            width: 30px;
            height: 30px;
            margin-right: 10px;
            @include single-transition(all, 0.3s, ease);
            
            text-align: center;
            line-height: 30px;

            &:hover{
                background: rgba(60,174,202,1);
            }
        }
    }
}