section#work {
    background-color: #161616;
    padding: 50px 0 80px;


    h1 {
            font-size: 40px;
            line-height: 40px;
            margin: 35px 0 0;
        }

    p {
        max-width: 447px;
        font-size: 18px;
        line-height: 24px;

        &.intro {
            font-size: 22px;
            line-height: 28px;
        }

        a {
            border-bottom: 1px dotted #fff;

            &:hover {
                background-color: rgba(44,63,73,0.3);
            }
        }
    }

}