/*
  Simple Grid
  Learn More - http://dallasbass.com/simple-grid-a-lightweight-responsive-css-grid/
  Project Page - http://thisisdallas.github.com/Simple-Grid/
  Author - Dallas Bass
  Site - dallasbass.com
*/
/* line 8, ../sass/_simplegrid.scss */
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 14, ../sass/_simplegrid.scss */
body {
  margin: 0px;
}

/* line 18, ../sass/_simplegrid.scss */
[class*='col-'] {
  float: left;
  padding-right: 20px;
}

/* line 23, ../sass/_simplegrid.scss */
[class*='col-']:last-of-type {
  padding-right: 0px;
}

/* line 27, ../sass/_simplegrid.scss */
.grid {
  width: 100%;
  max-width: 1140px;
  min-width: 755px;
  margin: 0 auto;
  overflow: hidden;
}

/* line 35, ../sass/_simplegrid.scss */
.grid:after {
  content: "";
  display: table;
  clear: both;
}

/* line 41, ../sass/_simplegrid.scss */
.grid-pad {
  padding: 20px 0 0px 20px;
}

/* line 45, ../sass/_simplegrid.scss */
.grid-pad > [class*='col-']:last-of-type {
  padding-right: 20px;
}

/* line 49, ../sass/_simplegrid.scss */
.push-right {
  float: right;
}

/* Content Columns */
/* line 54, ../sass/_simplegrid.scss */
.col-1-1 {
  width: 100%;
}

/* line 57, ../sass/_simplegrid.scss */
.col-2-3, .col-8-12 {
  width: 66.66%;
}

/* line 61, ../sass/_simplegrid.scss */
.col-1-2, .col-6-12 {
  width: 50%;
}

/* line 65, ../sass/_simplegrid.scss */
.col-1-3, .col-4-12 {
  width: 33.33%;
}

/* line 69, ../sass/_simplegrid.scss */
.col-1-4, .col-3-12 {
  width: 25%;
}

/* line 73, ../sass/_simplegrid.scss */
.col-1-5 {
  width: 20%;
}

/* line 77, ../sass/_simplegrid.scss */
.col-1-6, .col-2-12 {
  width: 16.667%;
}

/* line 81, ../sass/_simplegrid.scss */
.col-1-7 {
  width: 14.28%;
}

/* line 85, ../sass/_simplegrid.scss */
.col-1-8 {
  width: 12.5%;
}

/* line 89, ../sass/_simplegrid.scss */
.col-1-9 {
  width: 11.1%;
}

/* line 93, ../sass/_simplegrid.scss */
.col-1-10 {
  width: 10%;
}

/* line 97, ../sass/_simplegrid.scss */
.col-1-11 {
  width: 9.09%;
}

/* line 101, ../sass/_simplegrid.scss */
.col-1-12 {
  width: 8.33%;
}

/* Layout Columns */
/* line 106, ../sass/_simplegrid.scss */
.col-11-12 {
  width: 91.66%;
}

/* line 110, ../sass/_simplegrid.scss */
.col-10-12 {
  width: 83.333%;
}

/* line 114, ../sass/_simplegrid.scss */
.col-9-12 {
  width: 75%;
}

/* line 118, ../sass/_simplegrid.scss */
.col-5-12 {
  width: 41.66%;
}

/* line 122, ../sass/_simplegrid.scss */
.col-7-12 {
  width: 58.33%;
}

@media handheld, only screen and (max-width: 767px) {
  /* line 128, ../sass/_simplegrid.scss */
  .grid {
    width: 100%;
    min-width: 0;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 0px;
  }

  /* line 137, ../sass/_simplegrid.scss */
  [class*='col-'] {
    width: auto;
    float: none;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
  }
}
/* line 1, ../sass/_buttons.scss */
.button {
  cursor: pointer;
  display: block;
}
/* line 5, ../sass/_buttons.scss */
.button.social {
  width: 100%;
  height: 50px;
  line-height: 44px;
  text-align: center;
  border: 3px solid #fff;
  margin-bottom: 10px;
  position: relative;
  -webkit-transition: color 0.3s ease;
  -moz-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
  transition: color 0.3s ease;
}
/* line 15, ../sass/_buttons.scss */
.button.social span {
  position: relative;
  z-index: 1;
  text-transform: uppercase;
}
/* line 21, ../sass/_buttons.scss */
.button.social:after {
  content: '';
  position: absolute;
  z-index: 0;
  width: 0%;
  height: 100%;
  top: 0;
  left: 0;
  background: #fff;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
/* line 35, ../sass/_buttons.scss */
.button.social:hover {
  color: #3caeca;
}
/* line 38, ../sass/_buttons.scss */
.button.social:hover:after {
  width: 100%;
}

/* line 1, ../sass/_header.scss */
header {
  position: fixed;
  right: 0;
}
/* line 5, ../sass/_header.scss */
header .toggle-nav {
  display: inline-block;
  position: relative;
  width: 80px;
  background: #3caeca;
  padding: 20px 20px 12px;
  margin: 20px;
  cursor: pointer;
}
/* line 14, ../sass/_header.scss */
header .toggle-nav .bar {
  width: 100%;
  height: 8px;
  margin-bottom: 8px;
  background: #fff;
}
/* line 21, ../sass/_header.scss */
header .toggle-nav:before {
  content: '';
  position: absolute;
  border: #3caeca solid 4px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-transition-duration: .3s;
  -moz-transition-duration: .3s;
  -o-transition-duration: .3s;
  -ms-transition-duration: .3s;
  transition-duration: .3s;
  -webkit-transition-property: top, right, bottom, left;
  -moz-transition-property: top, right, bottom, left;
  -ms-transition-property: top, right, bottom, left;
  -o-transition-property: top, right, bottom, left;
  transition-property: top, right, bottom, left;
}
/* line 42, ../sass/_header.scss */
header .toggle-nav:hover:before {
  top: -10px;
  right: -10px;
  bottom: -10px;
  left: -10px;
}

/* line 1, ../sass/_nav.scss */
.nav-overlay {
  position: absolute;
  left: -9999px;
  background: rgba(11, 11, 11, 0.95);
  z-index: 9999;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -webkit-transition: opacity 0.3s ease;
  -moz-transition: opacity 0.3s ease;
  -o-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}
/* line 9, ../sass/_nav.scss */
.nav-overlay.shown {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}
/* line 18, ../sass/_nav.scss */
.nav-overlay .nav-header {
  margin-top: 10%;
  font-size: 32px;
}
/* line 22, ../sass/_nav.scss */
.nav-overlay .nav-header .close-nav {
  float: right;
  margin-bottom: 24px;
  cursor: pointer;
  padding: 10px 20px;
  margin-right: -20px;
  -webkit-transition: background 0.3s ease;
  -moz-transition: background 0.3s ease;
  -o-transition: background 0.3s ease;
  transition: background 0.3s ease;
}
/* line 30, ../sass/_nav.scss */
.nav-overlay .nav-header .close-nav:hover {
  background: #3caeca;
}
/* line 37, ../sass/_nav.scss */
.nav-overlay a {
  height: 150px;
  padding: 38px 30px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
/* line 43, ../sass/_nav.scss */
.nav-overlay a .title {
  display: block;
  font-size: 32px;
  font-style: italic;
}
/* line 50, ../sass/_nav.scss */
.nav-overlay a .subtitle {
  display: block;
  color: #A2A2A2;
}
/* line 55, ../sass/_nav.scss */
.nav-overlay a:hover {
  background: #3caeca;
}
/* line 58, ../sass/_nav.scss */
.nav-overlay a:hover .subtitle {
  color: #fff;
}

/* line 2, ../sass/_landing.scss */
.landing .canvas-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -webkit-transition: opacity 0.7s ease;
  -webkit-transition-delay: 0.3s;
  -moz-transition: opacity 0.7s ease 0.3s;
  -o-transition: opacity 0.7s ease 0.3s;
  transition: opacity 0.7s ease 0.3s;
}
/* line 11, ../sass/_landing.scss */
.landing .canvas-overlay.shown {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}
/* line 15, ../sass/_landing.scss */
.landing .canvas-overlay .cont-wrapp {
  text-align: left;
  display: block;
  top: 50%;
  height: 196px;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  position: absolute;
}
/* line 23, ../sass/_landing.scss */
.landing .canvas-overlay .cont-wrapp h1 {
  margin: 0;
  color: #fff;
  font-size: 62px;
}
/* line 28, ../sass/_landing.scss */
.landing .canvas-overlay .cont-wrapp h1 a {
  background-color: rgba(60, 174, 202, 0);
  cursor: pointer;
  -webkit-transition: background-color 0.3s ease;
  -moz-transition: background-color 0.3s ease;
  -o-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
  display: inline-block;
  margin-bottom: 3px;
}
/* line 35, ../sass/_landing.scss */
.landing .canvas-overlay .cont-wrapp h1 a:hover {
  background-color: #3caeca;
}
/* line 44, ../sass/_landing.scss */
.landing .canvas-overlay .cont-wrapp .subheader {
  color: rgba(255, 255, 255, 0.6);
  line-height: 36px;
  font-size: 18px;
}
@media (max-width: 980px) {
  /* line 51, ../sass/_landing.scss */
  .landing .canvas-overlay .cont-wrapp h1 {
    font-size: 40px;
  }
}

/* line 1, ../sass/_about.scss */
section#about-me {
  background: #3caeca;
}
@media (min-width: 768px) {
  /* line 1, ../sass/_about.scss */
  section#about-me {
    background: url("../img/me.jpg");
    background-repeat: no-repeat;
    background-position: right;
  }
}
/* line 10, ../sass/_about.scss */
section#about-me .wrapper {
  padding: 50px 0 80px;
  min-height: 500px;
}
@media (min-width: 768px) {
  /* line 10, ../sass/_about.scss */
  section#about-me .wrapper {
    background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(55%, #3caeca), color-stop(100%, rgba(60, 174, 202, 0.6)));
    background-image: -webkit-linear-gradient(left, #3caeca 55%, rgba(60, 174, 202, 0.6));
    background-image: -moz-linear-gradient(left, #3caeca 55%, rgba(60, 174, 202, 0.6));
    background-image: -o-linear-gradient(left, #3caeca 55%, rgba(60, 174, 202, 0.6));
    background-image: linear-gradient(left, #3caeca 55%, rgba(60, 174, 202, 0.6));
  }
}
/* line 18, ../sass/_about.scss */
section#about-me .wrapper h1 {
  font-size: 40px;
  line-height: 40px;
  margin: 35px 0 0;
}
/* line 24, ../sass/_about.scss */
section#about-me .wrapper p {
  max-width: 447px;
  font-size: 18px;
  line-height: 24px;
}
/* line 29, ../sass/_about.scss */
section#about-me .wrapper p.intro {
  font-size: 22px;
  line-height: 28px;
}
/* line 34, ../sass/_about.scss */
section#about-me .wrapper p a {
  border-bottom: 1px dotted #fff;
  -webkit-transition: background-color 0.3s ease;
  -moz-transition: background-color 0.3s ease;
  -o-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}
/* line 38, ../sass/_about.scss */
section#about-me .wrapper p a:hover {
  background-color: rgba(44, 63, 73, 0.3);
}
/* line 45, ../sass/_about.scss */
section#about-me .wrapper .social-header {
  font-family: 'Arbutus Slab', serif;
  font-size: 24px;
  line-height: 24px;
  margin: 48px 0 0;
}
/* line 54, ../sass/_about.scss */
section#about-me .wrapper .social-networks {
  padding: 0;
  margin: 10px 0;
}
/* line 58, ../sass/_about.scss */
section#about-me .wrapper .social-networks li {
  display: block;
}

/* line 1, ../sass/_work.scss */
section#work {
  background-color: #161616;
  padding: 50px 0 120px;
}
/* line 5, ../sass/_work.scss */
section#work h1 {
  font-size: 40px;
  line-height: 40px;
  margin: 35px 0 0;
}
/* line 11, ../sass/_work.scss */
section#work p {
  max-width: 447px;
  font-size: 18px;
  line-height: 24px;
}
/* line 16, ../sass/_work.scss */
section#work p.intro {
  font-size: 22px;
  line-height: 28px;
}
/* line 21, ../sass/_work.scss */
section#work p a {
  border-bottom: 1px dotted #fff;
  -webkit-transition: background-color 0.3s ease;
  -moz-transition: background-color 0.3s ease;
  -o-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}
/* line 25, ../sass/_work.scss */
section#work p a:hover {
  background-color: #2c3f49;
}
/* line 33, ../sass/_work.scss */
section#work .people h2 {
  font-family: 'Noto Sans', sans-serif;
  font-weight: normal;
  font-style: italic;
  margin-bottom: 40px;
}
/* line 40, ../sass/_work.scss */
section#work .people ul {
  margin: 0;
  padding: 0;
}
/* line 43, ../sass/_work.scss */
section#work .people ul li {
  border-bottom: 3px solid rgba(255, 255, 255, 0);
  display: inline-block;
  text-align: center;
  width: 150px;
  height: 190px;
  -webkit-transition: border-bottom 0.3s ease;
  -moz-transition: border-bottom 0.3s ease;
  -o-transition: border-bottom 0.3s ease;
  transition: border-bottom 0.3s ease;
}
/* line 51, ../sass/_work.scss */
section#work .people ul li:first-child {
  margin-right: 0px;
}
/* line 55, ../sass/_work.scss */
section#work .people ul li a {
  overflow: hidden;
}
/* line 59, ../sass/_work.scss */
section#work .people ul li img {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  border: 3px solid #161616;
  margin: 0px auto;
  display: block;
  width: 85px;
  border-radius: 55px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
/* line 71, ../sass/_work.scss */
section#work .people ul li .name {
  font-weight: bold;
  font-size: 16px;
  margin: 12px 0;
}
/* line 77, ../sass/_work.scss */
section#work .people ul li .title {
  font-size: 12px;
  color: #6D6969;
}
/* line 82, ../sass/_work.scss */
section#work .people ul li:hover {
  border-bottom: 3px solid white;
}
/* line 85, ../sass/_work.scss */
section#work .people ul li:hover img {
  border: 3px solid #fff;
}

/* line 1, ../sass/_footer.scss */
.footer-container {
  background: #3caeca;
  display: block;
  cursor: pointer;
  height: 100px;
}
/* line 11, ../sass/_footer.scss */
.footer-container .super-link {
  font-size: 30px;
  line-height: 100px;
  -webkit-transition: -webkit-transform 0.3s ease;
  -moz-transition: -moz-transform 0.3s ease;
  -o-transition: -o-transform 0.3s ease;
  transition: transform 0.3s ease;
}
/* line 18, ../sass/_footer.scss */
.footer-container:hover .super-link {
  -webkit-transform: translateX(20px);
  -moz-transform: translateX(20px);
  -ms-transform: translateX(20px);
  -o-transform: translateX(20px);
  transform: translateX(20px);
}

/* Base */
/* line 18, ../sass/main.scss */
* {
  -webkit-font-smoothing: antialiased;
}

/* line 22, ../sass/main.scss */
body {
  background: #161616;
  padding: 0;
  overflow: hidden;
  border: 1px solid transparent;
  color: #fff;
}

/* line 30, ../sass/main.scss */
canvas, img {
  max-width: 100%;
}

/* line 34, ../sass/main.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Arbutus Slab', serif;
  color: white;
}

/* line 39, ../sass/main.scss */
div, span, p {
  font-family: 'Noto Sans', sans-serif;
}

/* line 43, ../sass/main.scss */
a {
  color: #fff;
  text-decoration: none;
}

/* line 48, ../sass/main.scss */
.mobile-only {
  display: none;
}
@media (max-width: 768px) {
  /* line 48, ../sass/main.scss */
  .mobile-only {
    display: block;
  }
}

/* line 55, ../sass/main.scss */
.desktop-only {
  display: none;
}
@media (min-width: 768px) {
  /* line 55, ../sass/main.scss */
  .desktop-only {
    display: block;
  }
}
