.pagination-item {
    @extend .fifty;
    height: 90px;

    &:hover {
        background: $darkBlue;
        color: #fff;
    }

    .older {
        float: left;
    }

    .newer {
        float: right;
    }
}

.pagination {
    background: $lightGray;
    border-top: #f2f2f2 solid 1px;
    height: 90px;
    width: 100%;
}