.bar {
    position: fixed;
    top: 0;
    left: 50%;
    right: 0;
    height: 50px;
    line-height: 50px;
    background: #fff;
    box-shadow: 0 1px 0 rgba(200,200,200,.5);
    padding: 0 30px;
    font-family: 'Droid Sans', sans-serif;
    font-weight: bold;

    .back {
        color: #4F5A63;

        &:hover {
            color: #F5A623;
        }
    }

    @media (max-width: 1120px){
        left: 0;
    }
}