// @import "compass/css3/transform";
// @import "compass/css3/transition";
// @import "compass/css3/opacity";
// @import "compass";

@import "_simplegrid.scss";
@import "_mixins.scss";

@import "_buttons.scss";
@import "_header.scss";
@import "_nav.scss";
@import "_landing.scss";
@import "_about.scss";
@import "_work.scss";
@import "_articles.scss";
@import "_footer.scss";


/* Base */
* {
    -webkit-font-smoothing: antialiased;
}

body {
    background: #161616;
    padding: 0;
    border: 1px solid transparent;
    color: #fff;
}

canvas, img {
    max-width: 100%;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Arbutus Slab', serif;
    color: white;
}

div, span, p {
    font-family: 'Noto Sans', sans-serif;
}

a {
    text-decoration: none;
}

.mobile-only {
    display: none;
    @media (max-width:768px) {
        display: block;
    }
}

.desktop-only {
    display: none;
    @media (min-width:768px) {
        display: block;
    }
}
