/* 
The main SCSS file for everything, yep
*/
.fifty, .pagination-item {
  width: 50%;
  float: left; }
  @media (min-width: 1120px) {
    .fifty.lefty, .lefty.pagination-item {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0; }
    .fifty.righty, .righty.pagination-item {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      overflow-y: scroll; } }

.main-cont {
  width: 100%; }
  @media (min-width: 1120px) {
    .main-cont {
      width: 50%; } }

@media (max-width: 1120px) {
  body {
    margin: 0; } }

video {
  width: 100%; }

.posts .post.case video {
  position: absolute;
  top: 0; }

html, p {
  font-family: 'Vollkorn', serif; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Droid Sans', sans-serif;
  color: #4F5A63; }
  h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    color: #4F5A63; }

pre {
  font-family: "Droid Sans Mono"; }

html {
  color: #787E83; }

a {
  text-decoration: none; }

* {
  -webkit-font-smoothing: antialiased; }

.pagination-item {
  height: 90px; }
  .pagination-item:hover {
    background: #4F5A63;
    color: #fff; }
  .pagination-item .older {
    float: left; }
  .pagination-item .newer {
    float: right; }

.pagination {
  background: #FAFAFA;
  border-top: #f2f2f2 solid 1px;
  height: 90px;
  width: 100%; }

.bar {
  position: fixed;
  top: 0;
  left: 50%;
  right: 0;
  height: 50px;
  line-height: 50px;
  background: #fff;
  box-shadow: 0 1px 0 rgba(200, 200, 200, 0.5);
  padding: 0 30px;
  font-family: 'Droid Sans', sans-serif;
  font-weight: bold; }
  .bar .back {
    color: #4F5A63; }
    .bar .back:hover {
      color: #F5A623; }
  @media (max-width: 1120px) {
    .bar {
      left: 0; } }

.profile {
  background: #4A90E2;
  font-family: 'Droid Sans', sans-serif; }
  .profile img.logo {
    width: 17%;
    margin: 150px auto 0;
    display: block;
    min-width: 120px;
    -webkit-animation: float 3s infinite ease-in-out alternate;
            animation: float 3s infinite ease-in-out alternate; }
    @media (max-width: 1120px) {
      .profile img.logo {
        width: 10%;
        margin: 75px auto 50px; } }
  .profile .shadow {
    width: 17%;
    min-width: 130px;
    height: 3%;
    min-height: 30px;
    background: #787E83;
    margin-top: 40px;
    -webkit-shape-outside: circle();
            shape-outside: circle(); }
  .profile .about {
    width: 360px;
    position: absolute;
    bottom: 60px;
    left: 50%;
    margin-left: -180px;
    text-align: center;
    color: #fff;
    line-height: 22px; }
    .profile .about > * {
      display: block; }
    .profile .about .name {
      font-size: 28px;
      font-weight: bold; }
    .profile .about .role {
      margin-top: 10px;
      font-size: 20px; }
    .profile .about .position {
      margin-bottom: 40px; }
    .profile .about a {
      color: #fff;
      position: relative;
      display: inline-block; }
      .profile .about a:visited {
        color: #fff; }
      .profile .about a:hover {
        color: #333; }
      .profile .about a:after {
        content: '';
        display: block;
        position: absolute;
        top: calc(100% - 1px);
        left: 0;
        width: 100%;
        height: 1px;
        background: #fff;
        opacity: .6; }
    .profile .about .contact {
      margin: 0;
      padding: 0;
      list-style: none; }
      .profile .about .contact li a {
        padding-bottom: 5px; }
      .profile .about .contact a:after {
        display: none; }
    .profile .about .external-links {
      list-style: none;
      padding: 0; }
      .profile .about .external-links li {
        display: inline-block;
        width: 30px;
        height: 30px;
        margin: 0 10px 0 0; }
        .profile .about .external-links li a:after {
          display: none; }
        .profile .about .external-links li img, .profile .about .external-links li svg {
          width: 100%;
          -webkit-transition: -webkit-transform .1s ease;
                  transition: transform .1s ease; }
        .profile .about .external-links li:last-child {
          margin: 0; }
        .profile .about .external-links li:hover img, .profile .about .external-links li:hover svg {
          -webkit-transform: scale(1.5);
                  transform: scale(1.5); }
    @media (max-width: 1120px) {
      .profile .about {
        position: relative;
        bottom: 0px;
        left: 0;
        width: 360px;
        margin: 0 auto 40px;
        text-align: center;
        color: #fff; } }
    @media (max-width: 400px) {
      .profile .about {
        width: 100%;
        padding: 0 20px; } }

@-webkit-keyframes float {
  from {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px); }
  to {
    -webkit-transform: translateY(10px);
            transform: translateY(10px); } }

@keyframes float {
  from {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px); }
  to {
    -webkit-transform: translateY(10px);
            transform: translateY(10px); } }

.filter {
  list-style: none;
  font-family: 'Droid Sans', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  float: right;
  margin-right: 40px;
  margin-top: 40px; }
  .filter li {
    display: inline-block;
    margin-left: 20px;
    color: #4F5A63; }
    .filter li:hover {
      color: #F5A623;
      cursor: pointer; }
    .filter li.visibly-hidden {
      opacity: 0;
      pointer-events: none; }
    @media (max-width: 768px) {
      .filter li:first-child {
        margin-left: 0; } }
  @media (max-width: 768px) {
    .filter {
      text-align: center;
      float: left;
      margin: 40px 0 0 0;
      padding: 0;
      width: 100%; } }

.posts, article.main {
  width: 100%;
  margin-top: 100px; }
  @media (max-width: 1120px) {
    .posts, article.main {
      margin-top: 90px; } }
  .posts .post, article.main .post {
    width: 100%;
    margin-bottom: 65px;
    margin-top: 65px;
    font-size: 16px;
    overflow: hidden;
    -webkit-transition: all .3s ease;
            transition: all .3s ease;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden; }
    .posts .post.hidden, article.main .post.hidden {
      height: 0 !important;
      margin: 0 !important;
      padding: 0 !important; }
    @media (max-width: 1120px) {
      .posts .post, article.main .post {
        margin-bottom: 50px;
        margin-top: 50px; } }
    .posts .post .post-wrap, article.main .post .post-wrap {
      width: 520px;
      margin: 0 auto; }
      @media (max-width: 1120px) {
        .posts .post .post-wrap, article.main .post .post-wrap {
          width: 50%;
          min-width: 280px; } }
    .posts .post .post-date, article.main .post .post-date {
      font-family: 'Droid Sans', sans-serif;
      color: #4F5A63; }
    .posts .post .post-cat, article.main .post .post-cat {
      font-family: 'Droid Sans', sans-serif;
      color: #F5A623;
      text-transform: capitalize; }
    .posts .post h1.post-title, article.main .post h1.post-title {
      margin-top: 5px;
      margin-bottom: 8px;
      font-size: 28px; }
      .posts .post h1.post-title:hover a, article.main .post h1.post-title:hover a {
        color: #F5A623; }
    .posts .post p, article.main .post p {
      line-height: 24px;
      margin: 0 0 30px 0; }
      .posts .post p em, article.main .post p em {
        opacity: .9;
        margin-top: 10px;
        display: inline-block; }
      .posts .post p a, article.main .post p a {
        color: #4A90E2; }
        .posts .post p a:visited, article.main .post p a:visited {
          color: #4A90E2; }
        .posts .post p a:hover, article.main .post p a:hover {
          color: #F5A623; }
    .posts .post .arrow, article.main .post .arrow {
      display: block;
      line-height: 12px;
      font-size: 24px;
      color: #4F5A63; }
      .posts .post .arrow:hover, article.main .post .arrow:hover {
        color: #F5A623; }
    .posts .post.case, article.main .post.case {
      margin-bottom: 0px;
      margin-top: 0px;
      background-size: cover;
      background-position: center center;
      display: block;
      padding-top: 52px;
      padding-bottom: 52px;
      color: #fff;
      position: relative;
      overflow: hidden; }
      .posts .post.case .post-date, .posts .post.case .post-title, article.main .post.case .post-date, article.main .post.case .post-title {
        color: #fff; }
      .posts .post.case p, article.main .post.case p {
        margin: 0; }
      .posts .post.case .overlay, article.main .post.case .overlay {
        z-index: 10;
        position: absolute;
        top: 0;
        height: 500px;
        width: 100%;
        background-color: rgba(74, 144, 226, 0.6);
        -webkit-transition: .3s ease background-color;
                transition: .3s ease background-color; }
      .posts .post.case .post-wrap, article.main .post.case .post-wrap {
        position: relative;
        z-index: 30; }
      .posts .post.case video, .posts .post.case .video-fallback-img, article.main .post.case video, article.main .post.case .video-fallback-img {
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translateX(-50%) translateY(-50%);
        transform: translateX(-50%) translateY(-50%);
        min-width: 100%;
        min-height: 100%;
        width: auto;
        height: auto;
        z-index: -1000;
        overflow: hidden; }
      .posts .post.case:hover .overlay, article.main .post.case:hover .overlay {
        background-color: rgba(74, 144, 226, 0.9); }

article.main img, article.main pre > code {
  width: 100%;
  display: block; }
  @media (min-width: 1600px) {
    article.main img, article.main pre > code {
      width: 700px;
      margin-left: -90px; } }
  @media (min-width: 1340px) and (max-width: 1600px) {
    article.main img, article.main pre > code {
      width: 600px;
      margin-left: -40px; } }
  @media (min-width: 500px) and (max-width: 1120px) {
    article.main img, article.main pre > code {
      width: 150%;
      margin-left: -25%; } }

article.main pre {
  overflow: visible; }

article.main pre > code {
  max-width: 100%;
  overflow: scroll; }
  @media (min-width: 1600px) {
    article.main pre > code {
      max-width: 700px; } }
  @media (min-width: 1340px) and (max-width: 1600px) {
    article.main pre > code {
      max-width: 600px; } }
  @media (min-width: 500px) and (max-width: 1120px) {
    article.main pre > code {
      max-width: 150%; } }

article.main .post .post-wrap h1.post-title {
  font-size: 32px;
  margin-top: 10px;
  margin-bottom: 15px; }

html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

.hidden {
  display: none; }
